---
import PageLayout from "../../layouts/PageLayout.astro";

const pageTitle = "About Us"
const pageDesc = "This is the about page"
---

<PageLayout title={pageTitle} desc={pageDesc}>
  <h1>{pageTitle}</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam perspiciatis sit commodi autem! Veritatis nisi qui quos quis expedita doloremque id rem voluptate sunt nam dolor excepturi, commodi tenetur accusamus perferendis quaerat facere aliquam nihil esse. Ullam nostrum deleniti aliquid totam unde dolorum corrupti nam quae animi, laudantium cum quisquam!</p>
</PageLayout>