<section>
  <h1>Welcome to my website</h1>
  <h2 class="heading-hobbies">Hobbies</h2>
  <ul class="hobbies-list">
    <li>Skydiving</li>
    <li>Deep-sea mining</li>
    <li>Treasure-hunting</li>
    <li>Space rock collecting</li>
  </ul>
</section>

<style>
  section {
    background-color: yellow;
    min-height: 100vh;
  }
</style>