<aside>
  <h3>Sidebar</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum ut soluta unde esse tempore sunt similique, qui maiores a inventore amet impedit temporibus voluptatem beatae vitae at iure quae quo? Blanditiis in, sapiente minima enim harum numquam praesentium nihil autem molestiae ex soluta veniam eum quo, vero optio, aperiam quaerat!
  </p>
</aside>

<style>
  aside {
    flex: 0 1 200px;
  }
</style>